@import './bootstrap_custom.scss';

.jumbotron-cameras {
  margin-top: 5rem;
}

.box-camera {
  margin-bottom: 1rem;
}

.box-camera img {
  width: 100%;
}

.loadingImg {
  position: absolute;
  height: 24.952%  !important;
  width: 33.3333% !important;
  top: 37.524%  !important;
  left: 33.3333%  !important;
}

.btn-camera {
  width: 100%;
}