@import './bootstrap_custom.scss';
@import 'gridstack/dist/gridstack.min.css';

.jumbotron-cameras {
  margin-top: 5rem;
}

.box-camera {
  margin-bottom: 1rem;
}

.box-camera img {
  width: 100%;
}

.loadingImg {
  position: absolute;
  height: 24.952%  !important;
  width: 33.3333% !important;
  top: 37.524%  !important;
  left: 33.3333%  !important;
}

.btn-camera {
  width: 100%;
}

.map-show {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

#map {
  /*height: 100%;*/
  height: 30rem;
  width: 50rem;
}
