<%= render 'load_images' %>
<h1 align="center">Your camera list</h1>
<div class="row">
  <% @cameras.each do |camera| %>
    <div class="col-md-6 box-camera" data-camera_url="<%= camera.url %>">
      <%= image_tag 'black.png' %>
    </div>
  <% end %>
</div>
