<%= render 'load_images' %>
<script type="text/javascript">
  var targetBox;

  window.onload = function() {
    loadImages();
    setInterval(loadImages,5*60*1000);
  }


  // GridStack.init();

</script>
<h1 align="center">Dashboard</h1>
<div class="grid-stack">
  <% @cameras.each do |camera| %>
    <div class="grid-stack-item box-camera" data-gs-width="6" data-gs-height="6" data-gs-no-resize="true">
      <div class="grid-stack-item-content box-camera" data-camera_url="<%= camera.url %>">
        <%= image_tag 'black.png' %>
      </div>
    </div>
  <% end %>
</div>

<script type="text/javascript">

  var grid = GridStack.init();

  grid.on('added removed change', function(e, items) {
    console.log("Teste!!!");
  });

</script>
